table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 24px;
    border-width: 3px;
    text-align: center;
    
  }

td {
    border-color: red;
    border-style: solid;
    width: 50px;
    height: 50px;
    
}

td [class^="player0"] {
    background-color: red;
}

td [class^="player1"] {
    background-color: yellow;
}
